.cover__link {
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  margin: 12px 48px 84px;
}

/*.cover__link {
  display: flex;
  /*background-image: url("../../images/cover-trains.jpg");
  max-width: 1184px;
  width: calc(100% - 24px*2);
  min-height: 740px;
  /*background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 12px 48px 92px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}*/

.cover__link::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .cover__link {
    margin: 0 auto;
    /*margin: 12px auto 92px;*/
    max-width: 1024px;
    min-height: 640px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 70px;
  }
}

@media (max-width: 1023px) {
  .cover__link {
    /*margin: 8px auto 90px;*/
    max-width: 768px;
    min-height: 480px;
    margin-top: 8px;
    margin-bottom: 62px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    /*margin: 66px auto 64px;*/
    max-width: 320px;
    min-height: 200px;
    margin-top: 66px;
    padding: 33px 16px 33px 16px;
  }
}
