.place__title {
  max-width: 460px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  color: #FFFFFF;
  grid-area: title;
  text-align: start;
  /*align-self: self-end;*/
  margin: 0;
}
@media (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;

  }
}
@media (max-width: 767px) {
  .place__title {
    width: 288px;
    font-size: 32px;
    line-height: 1.1;
    margin: 0 0 0 16px;

  }
}
