.photo-grid {
  box-sizing: border-box;
  max-width: 1184px;
  width: calc(100% - 48px*2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-rows: repeat(3, 1fr);*/
  gap: 16px 16px;
  margin: 0 auto 92px;
}
@media (max-width: 1024px)  {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px 14px;
    margin: 0 auto 92px;
  }
}
@media (max-width: 768px)  {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 16px;
    margin: 0 auto 88px;
    width: calc(100% - 24px*2);
  }
}
@media (max-width: 320px)  {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px 0;
    margin: 0 auto 64px;
    width: calc(100% - 16px*2);
  }
}
