.place__image {
  max-width: 100%;
  object-fit: cover;
  width: 460px;
  height: 460px;
  grid-area: pic;
}

@media (max-width: 1279px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}
@media (max-width: 1023px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}
@media (max-width: 767px) {
  .place__image {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }
}
