.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas:
  "title web"
  "pic paragraph"
  "pic paragraph";
  gap: 48px 40px;
  margin: 0 auto 80px;
  justify-content: center;
}
