.cover__subtitle {
  position: relative;
  max-width: 360px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    width: 100%;
     }
}
