.cover__subtitle {
  position: relative;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.15;
     }
}
