.footer__link {
  width: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
 }

.footer__link:hover {
  background: #2A2C2F;
  opacity: 0.8;
}
