.footer__link {
  width: 50px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
}

.footer__link:hover {
  opacity: 0.8;
}
@media (max-width: 1023px) {
  .footer__link:nth-child(5) {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .footer__link {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 100%;
  }
}
