.footer__link {
  width: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
}

.footer__link:hover {
  background: #2A2C2F;
  opacity: 0.8;
}
@media (max-width: 767px) {
  .footer__link {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
}
