.lead__title {
  box-sizing: border-box;
  text-align: center;
  max-width: 720px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.1;
  color: #FFFFFF;
  margin: 56px auto 32px;
}
@media (max-width: 1279px) {
  .lead__title {
    margin: 48px auto 32px;
    /*width: calc(100% - 152px*2);*/
  }
}
@media (max-width: 1023px) {
  .lead__title {
    margin: 48px auto 32px;
   /*width: calc(100% - 24px*2);*/
  }
}
@media (max-width: 767px) {
  .lead__title {
    margin: 48px auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
