.place__paragraph {
  max-width: 484px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
  grid-area:text;
  grid-row: 2 / 3;
  grid-row: 3 / 4;
  }
  @media (max-width: 1023px) {
    .place__paragraph {
      font-size: 16px;
    }
  }
  @media (max-width: 767px) {
    .place__paragraph {
      margin: 0 16px 0;
      font-size: 16px;
    }
  }
