.intro__text {
  margin: 0 442px 33px 148px;
  max-width: 690px;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}
@media (max-width: 1279px) {
  .intro__text {
    margin: 0 286px 33px 48px;
  }
}
@media (max-width: 1023px) {
  .intro__text {
    margin: 0 auto 33px;
    width: calc(100% - 24px*2);
  }
}
@media (max-width: 767px) {
  .intro__text {
    margin: 0 auto 34px;
    width: calc(100% - 16px*2);
  }
}
