.lead__subtitle {
  text-align: center;
  max-width: 640px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0 auto 64px;
}
@media (max-width: 1024px) {
  .lead__subtitle  {
    margin: 0 auto 56px;
  }
}
@media (max-width: 768px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}
@media (max-width: 320px) {
  .lead__subtitle  {
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 125%;
  }
}
