.cover {
  display: flex;
  background-image: url("../../images/cover-trains.jpg");
  max-width: 1184px;
  width: calc(100% - 24px*2);
  height: 740px;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 12px 48px 92px;
}

.cover::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #2A2C2F;
  opacity: 0;
}

.cover:hover::before {
  opacity: 0.3;
}

@media (max-width: 1279px) {
  .cover {
    margin: 12px auto 92px;
    max-width: 1024px;
    height: 640px;
    width: 100%;


  }
}

@media (max-width: 1023px) {
  .cover {
    margin: 8px auto 90px;
    max-width: 768px;
    height: 480px;
    width: 100%;


  }
}

@media (max-width: 767px) {
  .cover {
   margin: 66px auto 64px;
    max-width: 320px;
    height: 200px;
    width: 100%;
  }
}
