.place__link {
  max-width: 456px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: #FFFFFF;}

.place__link:hover {
  opacity: 0.8;
}

