.lead__caption {
  margin: 8px 974px 0 147px;
  max-width: 160px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .lead__caption {
    margin: 8px calc(100% - 208px) 0 48px;
  }
}

@media (max-width: 1023px) {
  .lead__caption {
    margin: 8px calc(100% - 184px) 0 24px;
  }
}

@media (max-width: 767px) {
  .lead__caption {
    margin: 8px calc(100% - 156px) 0 16px;
  }
}
