.place__url-heading {
  max-width: 456px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .place__url-heading {
    margin-bottom: 12px;

  }
}
