.place__website {
  grid-area:web;
  text-align:start;
  align-self:flex-end;
  margin: 0;
}
@media (max-width: 767px) {
  .place__website {
    width: 288px;
    margin: 0 auto;
    /*margin: 0 0 0 16px;*/
  }
}
