.intro__title {
  margin: 92px 442px 40px 148px;
  max-width: 690px;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #FFFFFF;
}
@media (max-width: 1279px) {
  .intro__title {
    margin: 92px 286px 40px 48px;
  }
}
@media (max-width: 1023px) {
  .intro__title {
    margin: 88px 24px 40px;
    width: calc(100% - 24px*2);
  }
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.1;
    margin: 62px auto 40px;
    width: calc(100% - 16px*2);
  }
}
